body
{
	font-family: sans-serif;
	padding: 1rem;
}

footer
{
	font-style: italic;
	font-size: small;
}

ul
{
	line-height: 150%;
	font-size: larger;
}

hr
{
	margin-top: 5rem;
	border-width: 5px;
	border-style: solid;
	border-color: blueviolet;
}